<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuE2wLPijOl67lDtX14yo_8nyqXSuef_k</string>
	<key>GCM_SENDER_ID</key>
	<string>730396874674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectapp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-ea02d</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-ea02d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730396874674:ios:5aa0ad6f6617a7c19036ab</string>
</dict>
</plist>